// add your custom styles here
// to learn more about SASS, visit sass-lang.com

/* Font Familys
font-family: 'Lobster', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Pacifico', cursive;
*/

html,
body {
	height: 100%;

}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #6c6f73;
	position: relative;
}

h1,h2,h3,h4,h5 {
	color: #333;
}

h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

img {
	max-width: 100%;
}
iframe {
	margin: .8rem 0;
}
.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}
.blockquote-footer {
	margin: 1rem 0 0;
}
.navbar-brand img {
	height: 2rem;
}
nav i.fa{
	color: #D3212F;
	font-size: 2rem;
}
#stage {
	background: url('../img/bg3.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;


}
#feature-one h1 {
	margin-top: 2.5rem;
}
#feature-two h1 {
	margin-top: 2.5rem;
	color: white;
}
#stage-content {
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	padding: 1.5rem;

}
#stage-caption {
	font-size: 1.4rem;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;

}
#stage-caption h1 {
	color: #ccc;
	font-weight: bold;
	text-transform: uppercase;

}
.feature-content {
	display: flex;
	padding: 4rem 0;
	overflow: hidden;
	align-items: top;
	
}
.feature-dark {
	background: #333;
	color: white;
}

.feature-dark h2 {
	color: white;
}
.feature-alt {
	background: #f0f0f0;
}
#feature-five img {
	margin-top: 2rem;
	max-width: 100%;
}
#main-footer {
	background-color: #000;
	color: white;
	padding: 6rem 0;
	font-size: 0.8rem;
}
#main-footer h6 {
	color: #D3212F;
}
#main-footer a {
	color: #A0A0A0;
	text-decoration: none;
}
#main-footer a:hover {
	color: #ccc;
}


.btn {
	display: inline-block;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-outline-secondary {
	color: #D3212F;
	background-image: none;
	background-color: transparent;
	border-color: #D3212F;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #D3212F;
	border-color: #D3212F;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	-webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
	box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}



.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #D3212F;
	background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #D3212F;
	border-color: #D3212F;
}

.nav-link .active {
	color: #D3212F;
}
#social {
	margin-bottom: 2rem;
}
#social a{
	font-size: 2rem;
	color: #D3212F;
}
#oficialSite a{
	font-weight: bold;
	font-size: 1rem;
	margin-left: 1rem;
	text-transform: uppercase;
	text-decoration: none;
}

#stupaStore {
	margin-bottom: 2rem;

}
#stupaStore img {
	width: 4rem;
}
#stupaStore a {
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	margin-left: 3rem; 

}
#stupaStore a:hover {
color: #ccc;
}
