/* SETTINGS BEGIN */
@import "settings";
/* SETTINGS END */
/* FONTS BEGIN */
@import "fonts";
/* FONTS END */
/* MAIN BEGIN */
// add your custom styles here
// to learn more about SASS, visit sass-lang.com

nav i.fa{
	color: #D3212F;
	font-size: 2rem;
}
#stage {
	background: url('../img/bg3.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;


}
#feature-one h1 {
	margin-top: 2.5rem;
}
#feature-two h1 {
	margin-top: 2.5rem;
	color: white;
}
#stage-content {
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	padding: 1.5rem;

}
#stage-caption {
	font-size: 1.4rem;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;

}
#stage-caption h1 {
	color: #ccc;
	font-weight: bold;
	text-transform: uppercase;

}

.feature-content {
	display: flex;
	padding: 4rem 0;
	overflow: hidden;
	align-items: top;
	
}
.feature-dark {
	background: #333;
	color: white;
}

.feature-dark h2 {
	color: white;
}
.feature-alt {
	background: #f0f0f0;
}
#feature-five img {
	margin-top: 2rem;
	max-width: 100%;
}
#main-footer {
	background-color: #000;
	color: white;
	padding: 6rem 0;
	font-size: 0.8rem;
}
#main-footer h6 {
	color: #D3212F;
}
#main-footer a {
	color: #A0A0A0;
	text-decoration: none;
}
#main-footer a:hover {
	color: #ccc;
}

#social {
	margin-bottom: 2rem;
}
#social a{
	font-size: 2rem;
	color: #D3212F;
}
#oficialSite a{
	font-weight: bold;
	font-size: 1rem;
	margin-left: 1rem;
	text-transform: uppercase;
	text-decoration: none;
}

#stupaStore {
	margin-bottom: 2rem;

}
#stupaStore img {
	width: 4rem;
}
#stupaStore a {
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	margin-left: 3rem; 

}
#stupaStore a:hover {
color: #ccc;
}
/* MAIN END */
/* MEDIA BEGIN */
@import "media";
/* MEDIA END */