/* --------------------------------------------------------
	Settings
	-------------------------------------------------------- */
@import "settings";
/* --------------------------------------------------------
	Fonts
	-------------------------------------------------------- */
@import "fonts";
/* --------------------------------------------------------
	Main
	-------------------------------------------------------- */
// add your custom styles here
// to learn more about SASS, visit sass-lang.com

nav i.fa{
	color: #D3212F;
	font-size: 2rem;
}

#nav-social {
	a {
		display: inline-block;
	}
}

#stage {
	background: url('../img/bg3.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;


}
#feature-one h1 {
	margin-top: 2.5rem;
}
#feature-two h1 {
	margin-top: 2.5rem;
	color: white;
}
#stage-content {
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	padding: 1.5rem;

}
#stage-caption {
	font-size: 1.4rem;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;

}
#stage-caption h1 {
	color: #ccc;
	font-weight: bold;
	text-transform: uppercase;

}

.feature-content {
	display: flex;
	padding: 4rem 0;
	overflow: hidden;
	align-items: top;
	
}
.feature-dark {
	background: #333;
	color: white;
}

.feature-dark h2 {
	color: white;
}
.feature-alt {
	background: #f0f0f0;
}
#feature-five img {
	margin-top: 2rem;
	max-width: 100%;
}
#main-footer {
	background-color: #000;
	color: white;
	font-size: 0.8rem;
	ul {
		list-style: none;
	}
	h6 {
	color: #D3212F;
	}
	a {
	color: #A0A0A0;
	text-decoration: none;
	&:hover {
	color: #ccc;
		}
	}
}

#social {
	margin: 1.5rem 0 1.5rem 0;
	text-align: right;
	li {
		display: inline-block;
	}
	a {
	font-size: 1.7rem;
	margin-left: 0.3rem;
	color: #D3212F;
	}
}

#oficialSite {
	margin: 1.5rem 0 1.5rem 0;
	a {
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #D3212F;
}
} 

#stupaStore {
	margin-bottom: 2rem;
	text-align: center;

}
#stupaStore {
	img {
	width: 6rem;
	}

	a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	display: block;
	&:hover {
		color: #ccc;
		}
	}
} 

.copyright {
	margin-bottom: 1rem;
}
/* --------------------------------------------------------
	Media
	-------------------------------------------------------- */
@import "media";
